{erl_opts, [debug_info]}.
{deps, [
	{serial, {git, "https://github.com/EliasA5/erlang-serial.git", {branch, "master"}}}
]}.

{pre_hooks, [
	{compile,"make -C \"$REBAR_DEPS_DIR/serial\" all"},
	{clean,"make -C \"$REBAR_DEPS_DIR/serial\" clean"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, []}
]}.
